/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.heading-page h1 {
    font-family: 'Marcher';
    font-size: 40px;
    font-weight: 700;
    line-height: 36.8px;
    color: #000000;
    margin-bottom: 16px;
}

.about-mission .content p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

.heading-page {
    margin-bottom: 35px;
}

.heading-page h2 {
    font-family: 'Marcher';
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.padding-section {
    padding: 50px 190px 0;
}


.about-values {
    display: -ms-grid;
    display: grid;
    place-items: center;
    --circleDiameter: 500px;
    --planets: calc(var(--circleDiameter) / 5)
}

.hero-circle {
    position: relative;
    margin: 35px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.inner-img {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    width: 200px;
}

.hero-rotate {
    position: relative;
    border: 2px solid #041228;
    border-radius: 100%;
    position: relative;
    width: var(--circleDiameter);
    height: var(--circleDiameter);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.planet>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid white;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.about-values .circle-value {
    width: 100%;
    margin: 35px auto 0 auto;
    display: block;
}

.item .card-planet {
    padding: 10px 25px;
    border-radius: 25px;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.20)), to(rgba(217, 217, 217, 0.00)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.20) 0%, rgba(217, 217, 217, 0.00) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(217, 217, 217, 0.00) 100%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    width: 250px;
}

.item .card-planet p {
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.item .card-planet h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Marcher';
    margin-bottom: 9px;
}


.about-values .card-context {
    background-color: #041228;
    border-radius: 80px 0px 80px 0px;
    padding: 60px 100px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    bottom: 0;
}

.about-values .heading-page h2 {
    font-family: 'Marcher';
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    color: #FFFF;
}

.card-context .description {
    color: #FFFF;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.card-context .description p {
    margin: 0;
}

.section-value {
    margin-bottom: 100px;
}

.padding-values {
    padding: 55px 190px 0;
}

.card-context {
    background-image: url('../../assets/img/bgtimeline.png');
    background-repeat: no-repeat;
    background-position: bottom;
}


#circleObj {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    margin: 10px auto;
    position: relative;
    border-radius: 50%;
}

#circleObj .item {
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;

}



@media(max-width:500px){
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    .padding-section {
        padding: 40px 20px;
    }

    .heading-page h1{
        font-size: 30px;
    }

    .heading-page h2{
        font-size: 20px;
    }

    .about-mission .content p{
        font-size: 15px;
    }

    .card-context .description{
        font-size: 15px;
    }

    .about-values .card-context{
        border-radius: 80px 0px 80px 0px;
        padding: 15px;
    }

    .about-values .heading-page h2{
        font-size: 15px;
    }

    .heading-page{
        margin-bottom: 0;
    }

    #circleObj{
        width: 100%;
        height: 385px;
    }

    .item .card-planet{
        margin: 35px auto;
    }

    .inner-img{
        width: 150px;
    }

    .about-values{
        margin-top: 60px;
    }
}